@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

600&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FINE RESET */

/* INIZIO COMMON */

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
}

/* FINE COMMON */

/* INIZIO HEADER */

header {
  text-align: center;
}

header img {
  padding: 30px 0 40px 0;
  width: 200px;
}

header a {
  color: black;
  padding: 15px 10px;
}

header a:hover {
  transition: 0.05s linear background-color;
  background-color: #b2e5fc;
}

header li {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* FINE MAIN */

/* INIZIO FOOTER */

footer .container {
  display: flex;
  padding: 100px 0 20px 0;
  color: #848D9B;
}

footer .container img {
  width: 225px;
  padding-bottom: 25px;
}

footer .container li {
  padding-bottom: 15px;
}

footer .container a {
  color: #848D9B;
}

.infos p {
  padding-bottom: 7px;
}

.list-footer {
  width: 33%;
  margin-right: 5%;
}

h3 {
  padding: 20px 0;
  font-size: 22px;
}

.img-bg-footer {
  overflow-x: hidden;
}

#background-footer {
  min-width: 100vw;
}

/* FINE FOOTER */

/* INIZIO MEDIA QUERY */

@media screen and (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }

  .list-footer {
    width: 100%;
    margin-right: 0%;
  }
}

/* FINE MEDIA QUERY */

