body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
}

.active {
    background-color: $fourth_color;
}

i.lg-none {
    display: none;
}
