@media screen and (max-width: 992px) {
    /* HEADER */
    i.lg-none {
        display: inline-block;
    }

    .header-nav {
        display: none;
    }

    /* MAIN */
    main {
        h2 {
            font-size: 26px;
        }
    }
    .card {
        width: calc(100% / 2 - 10px);
    }

    /* MAIN PRODUCT */
    .product .container {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 22px;
            line-height: 30px;
        }
    }


    /* FOOTER */
    footer .container {
        flex-direction: column;
    }

    .list-footer {
        width: 100%;
        margin-right: 0%;
    }
}

@media screen and (max-width: 576px) {
    /* HEADER */
    header {
        img {
            padding: 30px 0 50px 0;
        }

        li {
            font-size: 20px;
        }
    }

    /* MAIN */
    main {
        h2 {
            font-size: 22px;
        }
    }

    .card {
        width: calc(100% - 10px);
    }
}
